<!-- A tag NAV existe dentro do bootstrap: https://getbootstrap.com/components/#navbar
	Ela serve para criar menus e submenus.
	O NG-IF é uma diretiva que serve para renderizar ou não um elemento HTML,
	nesse caso está sendo usado para controlar se o menu deve aparecer.
	O NG-IF pode usar funções e veriáveis definidas no Controller ao qual pertence
	para fazer as verificações, aqui está usando a variável isLogado. login.js -->
<nav class="navbar navbar-default" ng-if="isLogado">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li class="{{isAtivo('usuarios')}}">
				<a href="usuario.html">Usuarios</a>
			</li>
			<li class="{{isAtivo('papeis')}}">
				<a href="papel.html">Papeis</a>
			</li>
			<li class="{{isAtivo('grupo')}}">
				<a href="grupo.html">Grupos</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><p class="navbar-text">{{getMensagemApresentacao()}}</p></li>
			<li>
				<button type="button" class="btn btn-primary logoutBtn" ng-click="doLogout()">Sair</button>
			</li>
		</ul>
	</div>
</nav>