<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>projeto_exemplo</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>br.com.fatec.projetoweb.web.listener.ProjetoListener</listener-class>
	</listener>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <listener> -->
	<!-- <listener-class>br.com.fatec.projetoweb.web.listener.Listener2</listener-class> -->
	<!-- </listener> -->

	<!-- <listener> -->
	<!-- <listener-class>br.com.fatec.projetoweb.web.listener.Listener1</listener-class> -->
	<!-- </listener> -->

	<!-- <filter-mapping> -->
	<!-- <filter-name>filtro1</filter-name> -->
	<!-- <url-pattern>/</url-pattern> -->
	<!-- </filter-mapping> -->

	<!-- <filter> -->
	<!-- <filter-name>filtro1</filter-name> -->
	<!-- <filter-class>br.com.fatec.projetoweb.web.filter.Filtro1</filter-class> -->
	<!-- </filter> -->

	<!-- <filter-mapping> -->
	<!-- <filter-name>filtro2</filter-name> -->
	<!-- <url-pattern>/teste</url-pattern> -->
	<!-- </filter-mapping> -->

	<!-- <filter> -->
	<!-- <filter-name>filtro2</filter-name> -->
	<!-- <filter-class>br.com.fatec.projetoweb.web.filter.Filtro2</filter-class> -->
	<!-- </filter> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>servlet1</servlet-name> -->
	<!-- <url-pattern>/</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- <servlet> -->
	<!-- <servlet-name>servlet1</servlet-name> -->
	<!-- <servlet-class>br.com.fatec.projetoweb.web.servlet.Servlet1</servlet-class> -->
	<!-- </servlet> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>servlet2</servlet-name> -->
	<!-- <url-pattern>/teste</url-pattern> -->
	<!-- </servlet-mapping> -->

	<!-- <servlet> -->
	<!-- <servlet-name>servlet2</servlet-name> -->
	<!-- <servlet-class>br.com.fatec.projetoweb.web.servlet.Servlet2</servlet-class> -->
	<!-- </servlet> -->

</web-app>